			<div class="sidebar-content js-simplebar">
				<a class="sidebar-link" asp-area="Seller" asp-controller="Home" asp-action="Index">
					<span class="align-middle" style="color:white">Seller Pages</span>
				</a>
				<ul class="sidebar-nav">
					<li class="sidebar-header" style="color:white">
						Pages
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Seller" asp-controller="Home" asp-action="Index">
							<i class="align-middle" data-feather="sliders"></i> 
							<span class="align-middle" style="color:white">Thống kê</span>
						</a>
					</li>


					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Seller" asp-controller="SellerCategories" asp-action="Index">
							<i class="align-middle" data-feather="bookmark"></i> 
							<span class="align-middle" style="color:white">Quản lý danh mục</span>
						</a>
					</li>

					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Seller" asp-controller="SellerProducts" asp-action="Index">
							<i class="align-middle" data-feather="box"></i> 
							<span class="align-middle" style="color:white">Quản lý sản phẩm</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link"asp-area="Seller" asp-controller="SellerOrders" asp-action="Index">
							<i class="align-middle" data-feather="truck"></i> 
							<span class="align-middle" style="color:white">Quản lý đơn hàng</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" asp-area="Seller" asp-controller="Shipper" asp-action="Index">
								<i class="align-middle" data-feather="users"></i> 
								<span class="align-middle" style="color:white">Quản lý Shipper</span>
						</a>
					</li>
				</ul>
			</div>

