@model OnlineShop.Models.User
@{
    ViewData["Title"] = "Thông tin tài khoản";
}
    <div class="main-wrapper">

        <!-- Begin Main Content Area -->
        <main class="main-content">
            <div class="account-page-area section-space-y-axis-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            <div class="tab-pane fade show active" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
                                    <div class="myaccount-details" style="padding-left:300px;">
                                    <form asp-action="Profile" asp-controller="Customer" class="myaccount-form" enctype="multipart/form-data" method="post">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="UserId" />
                                        <input type="hidden" asp-for="Email" />
                                        <input type="hidden" asp-for="IsEmailActive" />
                                        <input type="hidden" asp-for="Password" />
                                        <input type="hidden" asp-for="RoleId" />
                                        <input type="hidden" asp-for="Date" />
                                        <input type="hidden" asp-for="IsDeleted" />
                                            <div class="myaccount-form-inner">
                                                <div class="single-input">
                                                    <label>
                                                       Họ tên
                                                    </label>
                                                    <input type="text" asp-for="UserName">
                                                </div>
                                                <div class="single-input">
                                                    <label>
                                                       ID
                                                    </label>
                                                    <input type="text" asp-for="IdCard">
                                                </div>
                                                <div class="single-input">
                                                    <label>
                                                       Số điện thoại
                                                    </label>
                                                <input type="tel" asp-for="Phone">
                                                </div>
                                                <div class="single-input">
                                                    <label>
                                                        Địa chỉ
                                                    </label>
                                                    <input type="text" asp-for="Address">
                                                </div>
                                                <div class="single-input">
                                                    <label class="control-label">Ảnh đại diện</label>
                                                    <input asp-for="Avatar" class="form-control" type="hidden"/>
                                                </div>
                                                <input id="Avatar" name="Avatar" class="form-control" type="file" />
                                                <div class="single-input">
                                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                                                        <span>Lưu thay đổi</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Main Content Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->

    </div>
