@model OnlineShop.Models.Style

@{
    ViewData["Title"] = "AddStyle";
    Layout = "~/Areas/Seller/Views/Shared/_SellerLayout.cshtml";
}

@if (ViewBag.mess != null)
{
    <div class="alert alert-danger alert-dismissible fade show" id="myAlert" role="alert">
        <strong>Thêm loại sản phẩm thất bại!</strong> @ViewBag.mess
    </div>
}
<h2>Thêm loại sản phẩm</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddStyle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <label class="control-label">Tên loại</label>
                <input asp-for="StyleName" class="form-control" />
                <span asp-validation-for="StyleName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Ảnh sản phẩm</label>
                <input asp-for="Image" class="form-control" value="default.jpg" type="hidden"/>
                <input class="form-control" id="Image" name="Image" type="file"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label class="control-label">Trạng thái</label>
                <select asp-for="IsDeleted" class="form-control">
                    <option value = "0">Đang bán</option>
                    <option value = "1">Ngừng bán</option>
                </select>
                <span asp-validation-for="IsDeleted" class="text-danger"></span>
            </div>
            <br />
            <input asp-for="ProductId" value="@ViewBag.productId" class="form-control" type="hidden"/>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
     <a asp-action="Details" asp-route-id="@ViewBag.productId">Trở về</a>
</div>

